* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Liberation Sans", Roboto, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 0;
    list-style: none;
}

h3 {
    margin-top: 1rem;
}

body {
    padding: 1rem;
}

#header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type="text"] {
    line-height: 29px;
    font-size: 14pt;
    width: 500px;
    padding: 4px;
    padding-left: 8px;

    border: 1px solid rgb(206, 206, 206);
    border-radius: 4px;
}

#header a {
    color: black;
}

main {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
}

#sticky {
    position: sticky;
    top: 0;
    overflow-y: scroll;
}

#sidebar ul {
    margin-bottom: 1rem;
}
