* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Liberation Sans", Roboto, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 0;
    list-style: none;
}

h3 {
    margin-top: 1rem;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 1rem;
    padding-bottom: 0;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    row-gap: 1rem;
    column-gap: 2rem;;
}

#header {
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type="text"] {
    line-height: 29px;
    font-size: 14pt;
    width: 500px;
    padding: 4px;
    padding-left: 8px;

    border: 1px solid rgb(206, 206, 206);
    border-radius: 4px;
}

#header a {
    color: black;
}

/* main {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
} */

#sidebar {
    overflow-y: auto;
    padding-bottom: 1rem;
}

#content {
    overflow-y: auto;
    padding-bottom: 1rem;
}

#sidebar ul {
    margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
    body {
        column-gap: 0;
        grid-template-columns: 1fr;
    }

    #header {
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        gap: 1rem;
    }

    #header div {
        width: 100%;
    }

    form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type="text"] {
        width: 100%;
    }

    #content {
        display: none;
    }
}
