<!doctype html>
<head>
    <title>NinSheetMusic Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="header">
        <h1><a href="{{ url_for("routes.index") }}">NinSheetMusic</a></h1>
        <div>
            <form method="post" action="/search">
                <input id="query" name="query" type="text" placeholder="Search all songs" required>
            </form>
        </div>
    </div>
    <div id="sidebar">
        {% if g.num_sheets == 0 %}
            <p>No sheet music data. Run <code>python3 -m flask --app sheetmusic init-db</code> to pull the latest data from <a href="ninsheetmusic.org">ninsheetmusic.org</a></p>
        {% else %}
        <ul>
            {% for title in g.series %}
            <li><a href="{{ url_for('routes.series', name=title) }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
        <p title="Updated {{ g.last_update }}">{{ g.num_sheets }} sheets</p>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
