{% extends 'base.html' %}

{% block content %}

<style>
    @media screen and (max-width: 800px) {
        #sidebar {
            display: none;
        }

        #content {
            display: unset;
        }
    }
</style>

{% if g.num_sheets != 0 %}
<h2>{{ name }}</h2>
{% endif %}

<ul>
{% for game in games %}
    <h3>{{ game }} [{{ sheets[game][0]["platform"] }}]</h3>
    {% for sheet in sheets[game] %}
        <li><a href="{{ sheet['url'] }}">{{ sheet["title"] }}</a></li>
    {% endfor %}
{% endfor %}
</ul>

{% endblock %}
